{% extends 'navbar.html' %}

{% block title %}Lista de Cursos{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tablas.css') }}" />
{% endblock %}

{% block content %}
<div class="title-container">
    <h2 class="titulo">Lista de Cursos</h2>
    <a class="nueva" href="{{ url_for('main.registrar_curso') }}" class="btn btn-primary mt-3">Registrar Curso</a>
</div>
<div class="table-container">

    {% if cursos %}
    <table>
        <thead>
            <tr>
                <th>Curso</th>
                <th>Profesor (director de curso)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for curso in cursos %}
            <tr>
                <td>{{ curso[1] }}</td>
                <td>{{ curso[2] }}</td>
                <td class="acciones">
                    <a class="editar" href="{{ url_for('main.editar_curso', id=curso[0]) }}"
                        class="btn btn-primary mr-2">Editar</a>
                    <a class="eliminar" href="{{ url_for('main.eliminar_curso', id=curso[0]) }}"
                        onclick="event.preventDefault(); showConfirmModal('¿Estás seguro de que quieres eliminar este curso y todos sus datos asociados?', () => window.location.href=this.href);">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'partials/_pagination.html' %}
    {% else %}
    <div class="alert alert-warning mt-3">
        No hay cursos disponibles.
    </div>
    {% endif %}
</div>
{% endblock %}