.dashboard-cards {
  display: flex;
  flex-wrap: wrap;  position: relative;

  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.titulo {
  background: linear-gradient(145deg, #003cff, #3e3590);
  padding: 10px;
  text-align: center;
  color: white;
}

.card {
  position: relative;
  background: linear-gradient(145deg, #ffffff, #c0c0c0);
  border-radius: 15px;
  padding: 20px;
  width: 250px;
  text-align: center;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1), -8px -8px 16px rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease-in-out;
  border: 1px solid #e0e0e0;
  z-index: 0;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 10px; /* grosor del borde superior */
  width: 100%;
  background: linear-gradient(to right, blue, darkblue);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index: 1;
}



.card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.15), -12px -12px 24px rgba(255, 255, 255, 0.9);
}

.card h2 {
  margin-bottom: 10px;
  color: #1e3a8a; /* Un azul más institucional */
  font-size: 1.5em;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.05);
}

.card .btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007BFF;
  color: #ffffff;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 3px 3px 6px rgba(0, 123, 255, 0.3);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.card .btn:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}


@media (max-witdh:450px)
{
  .dashboard-cards{
    background-color: green;
  }
}